body {
    width: 300px;
    padding: 10px;
    font-family: sans-serif;
    color: #fff;
    display: grid;
    align-items: center;
    justify-items: center;
}

label {
    font-weight: bold;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

input, select {
    margin: 5px;
    padding: 5px;
    opacity: 0.6;
    border-radius: 10px;
}

input:focus, select:focus,
select:hover,input:hover {
    opacity: 1;
}

button {
    margin-top: 20px;
    width: 60%;
    border-radius: 8px;
    height: 40px;
    opacity: 0.6;
}
button:hover {
    opacity: 1;
}

.section_abil input {
    width: 50px;
    margin: 2px
}

.foggy {
    background-image: url("../icons/imgFoggy.jpeg");
    background-size: cover;
}
.space {
    background-image: url("../icons/image.jpeg");
    background-size: cover;
}