
body {
    width: 300px;
    font-family: sans-serif;
    padding: 10px;
    background: #f0f0f0 url(icons/16x16-icon-45600.png) no-repeat;
    background-size: 100% 100%;
}

.container {
    padding: 10px
}

h2 {
    margin: 0 0 10px;
    color: #333
}

label {
    display: grid;
    margin: 10px 0;
    padding: 3px 3px;
    font-size: 14px;
    grid-template-columns: 1fr 50px;
    align-items: center;
    background-color: rgba(250, 250, 250, 0.4);
    border-radius: 5px;
    color: rgb(0,0,138);
}

input {
    width: 100%;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background: #ccc;
}

.buttons {
    margin: 15px 0;
    display: flex;
    gap: 10px
}

button {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold
}

#startBtn {
    background: #4CAF50;
    color: white
}

#stopBtn {
    background: #f44336;
    color: white
}

#status {
    font-size: 12px;
    color: #555;
    text-align: center;
    margin-top: 10px
}
        