
body {
    width: 300px;
    font-family: sans-serif;
    padding: 10px;
    background: #ccc url(icons/search_mission_img.jpg) no-repeat;
    background-size: 100% 100%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

h2 {
    margin: 0 34% 10px;
    color: #000
}

label {
    display: flex;
    margin: 10px 0;
    width: fit-content;
    font-size: 14px;
    background-color: #ffffff39;
    align-items: center;
    font-weight: 600;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    border-radius: 10px;
}

input {
    width: 20%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box
}

.buttons {
    margin: 15px 0;
    display: flex;
    gap: 10px
}

button {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold
}

#startBtn {
    background: #4CAF50;
    color: white;
    height: fit-content;
    border-radius: 15px;
}

#stopBtn {
    background: #f44336;
    color: white;
    height: fit-content;
    width: 150px;
    border-radius: 15px;
}

#status {
    font-size: 12px;
    color: #555;
    text-align: center;
    margin-top: 10px
}
        